server.port=port

spring.datasource.url=jdbc:postgresql://ip:port/db_name
spring.datasource.username=psql_username
spring.datasource.password=psql_passwd

# Debug SQL request
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true


jwt.secret.key=jwt_secret_key
jwt.access-token.expiration.ms=3600000
jwt.refresh-token.expiration.ms=60480000